@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;500&family=Noto+Serif:wght@400;700&display=swap');

body {
    font-family: 'Noto Serif', serif;
    box-sizing: border-box;
}

.main-wrapper {
    height: 100vh;
    max-width: 900px;
    box-sizing: border-box;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.opener {
    display: flex;
    flex-flow: row;
    max-width: 100%;
    justify-content: space-between;

    padding-top: 15px;

}

.maintitle {
    width: 100%;
}

.subtext {
    font-family: 'Heebo', sans-serif;
}

.description {
    font-weight: 200;
}


.title1 {
    font-size: 30px;
    font-weight: 600;
}

.title2 {

    font-weight: 500;
}



.team {
    width: 100%;
    padding-top: 20px;
}

.profile {
    max-width: 180px;
}


.personList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.personDiv {
    display: flex;
    width: 33%;

    justify-content: space-around;
}

.personWrap {
    display: inline;
    margin-bottom: 30px;


}

.person {
    max-width: 220px;
    display: flex;
    flex-flow: row;
}

.name {
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
}


.job {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding-left: 10px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
}

.footer {
    /*
    position: absolute;
    bottom: 0;
*/

    font-weight: 600;
    padding-bottom: 5px;

}

.personList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.personDiv {

    width: 33%;
}



@media (min-width: 820px) {

    .personDiv:nth-of-type(3n-1) {
        position: relative;
        top: 30px;
    }


}

@media (max-width: 820px) {

    .personDiv:nth-of-type(2n) {
        position: relative;
        top: 30px;
    }

    .personDiv {
        width: 50%;
    }

    .opener {
        flex-direction: column;
        padding-left: 10px;
    }


    .profile {
        max-width: 120px;
    }

}