@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;500&family=Noto+Serif:wght@400;700&display=swap');

body {
    height: 100vh;
    font-family: 'Noto Serif', serif;

}

.main-wrapper {
    height: 100%;
    max-width: 900px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding: 10px;

}

.opener {
    display: flex;
    flex-flow: row;
    max-width: 100%;
    padding-bottom: 50px;
    justify-content: space-between;
}

.maintitle {
    width: 100%;
}

.subtext {
    font-family: 'Heebo', sans-serif;
}

.description {
    font-weight: 200;
}


.title1 {
    font-size: 30px;
    font-weight: 600;
}

.title2 {
    padding-bottom: 30px;
    font-weight: 500;
}

.personRow {
    display: flex;
    flex: row;
    width: 100%;
    justify-content: space-between;
    height: 350px;

}

.team {
    width: 100%;

}

.profile {
    max-width: 180px;
}


.person {
    max-width: 220px;
    display: flex;
    flex-flow: row;
}

.downer {
    align-self: flex-end;
}

.name {
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
}


.job {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding-left: 10px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
}

.footer {
    /*
    position: absolute;
    bottom: 5px;
    */
    font-weight: 600;
    align-self: flex-end;
}

.personList {
    display: flex;
    flex-wrap: wrap;
}

.personWrap {
    width: 33%;
    margin-bottom: 30px;
}

li.personWrap:nth-child(3n -1) {
    position: relative;
    top: 30px;
}


@media (max-width: 820px) {

    .personWrap {
        width: 50%;
    }

    li.personWrap:nth-child(2n) {
        position: relative;
        top: 30px;
        margin-left: auto;
    }

    .opener {
        flex-direction: column;
    }
}