@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600;900&display=swap');

body {
    font-family: 'Inconsolata', monospace;
}


.main-wrapper {
    max-width: 1900px;
    padding: 20px;
    text-align: justify;

}


.wrapper-404 {
    display: flex;
    max-width: 1200px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.wrapper-404 .img-wrapper,
.wrapper-404 .body-404 {
    flex: 1 1 auto;
}

.img-wrapper {}


.img-wrapper .img {
    width: 450px;

}

.title {
    text-align: center;
    font-weight: 900;
}


.body-404 {
    padding-left: 80px;

}

.title {
    text-align: left;

}




.back-to-homepage {
    display: block;
    max-width: 200px;
    margin: 0 left;
    text-align: center;
    background-color: black;
    color: #FFF;
    text-decoration: none;
    padding: 25px 0;
    font-weight: 900;
    font-size: smaller;
}

.footer {
    text-align: center;
}