@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600;900&display=swap');

body {
    font-family: 'Inconsolata', monospace;
}


.main-wrapper {
    max-width: 1900px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
}

.img-wrapper {
    margin: 0 auto;

}

.img-wrapper .img {
    width: 300px;
    display: block;
}

.title {
    text-align: center;
    font-weight: 900;
}

.img {
    width: 100%;

}

.body-404 {}

.title {
    text-align: left;
}

.wrapper-404 {
    display: flex;
    margin-bottom: 30px;
    max-width: 800px;
    margin: 0 auto;
}


.back-to-homepage {
    display: block;
    max-width: 200px;
    margin: 0 left;
    text-align: center;
    background-color: black;
    color: #FFF;
    text-decoration: none;
    padding: 25px 0;
    font-weight: 900;
    font-size: smaller;
}

.footer {
    text-align: center;
}